@charset "UTF-8";

@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url(https://fonts.gstatic.com/s/fredokaone/v7/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}ins,mark{background-color:#ff9;color:#000}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

#gnav-bin{
  display: none;
}
body{
  font-family:"roboto","noto sans jp";
  background-color: #f5fafd;
  background-image: url("/img/back/a.gif");
  color: #333;
}
img,video{
  width: 100%;
}
a{ font-size: 17px; color: rgb(117, 181, 230);}
a:hover{ color: #42a5f5;}
.alert{  color: darkred;}
#lap{
  display: flex;
  flex-flow: column wrap;
}
#head{
  width: 100%;
}
#gnav ul{
  text-align: center;
}
#gnav ul li{
  box-sizing: border-box;
  width: 32%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}
#gnav ul li a{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 6vw;
  font-family: 'Fredoka One', cursive;
  color:#333;
  text-decoration: none;
  padding: 10px 0;
  max-height: 64px;
}
#gnav ul li a span{
  width: 100%;
  height: 32px;
  line-height: 20px;
}
#gnav ul li a .ja{
  font-size: 16px;
  height: 20px;
}
#banner{
  width: 100%;
  top: 450px;
}
#banner img{
  display: block;
  box-sizing: border-box;
  width: 90%;
  padding: 5px;
  margin: 2.5% 5%;
  background-color: #fcfcfc;
  box-shadow: -3px 3px 5px rgba(66, 165, 245, 0.5);
}
#visual,#news,#tw{
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  background-color: #fcfcfc;
  box-shadow: -3px 3px 5px rgba(66, 165, 245, 0.5);
  order: 5;
  padding: 10px 20px;
}
#news h1,#tw h1,#banner h1{
  font-size: 22px;
  font-family: 'Fredoka One', cursive;
  padding: 10px 0;
  letter-spacing: 5px;
}
#news h1::after,#tw h1::after,#banner h1::after{
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  margin-top: 5px;
  border-radius: 1rem;
  background-color: #01579B;
}
#news ul{
  list-style: none;
  border-top: 1px #01579B solid;
  border-bottom: 1px #01579B solid;
}
#news ul li{

  border-top: 1px #01579B solid;
  border-bottom: 1px #01579B solid;
  margin: 3px 0;
}
#news ul li a{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 3px;
  text-decoration: none;
  transition: .3s ease;
}
#news ul li a:hover{
  background-color: #72bffd;
}
#news ul li a .label{
  box-sizing: border-box;
  background-color: #01579B;
  color: #fcfcfc;
  border-radius: .5rem;
  padding: 6px;
  margin: 3px;
  height: 29px;
  font-family: 'Fredoka One', cursive;
}
#news ul li a .date{
  box-sizing: border-box;
  padding: 6px 0;
  margin: 3px;
  height: 29px;
  color:#01579B;
  font-family: 'Fredoka One', cursive;
}
#news ul li a .title{
  width: 100%;
  margin: 3px;
  color:#01579B
}
#news .button{
  display: block;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  background-color: #01579B;
  color: #fcfcfc;
  transition: .3s ease;
  border-radius: 0 0 .5rem .5rem;
}
#news .button:hover{
  background-color: #72bffd;
  color: #01579B;
}
#visual{
  width: 100%;
  margin: 0 auto;
}
#tw{
  width: 90%;
  margin: 0 auto;
  order: 5;
}
#gnav ul li a span::first-letter,
#news h1::first-letter,#tw h1::first-letter,#banner h1::first-letter{
  color: #01579B;
}
#foot{
  text-align: center;
  background-color: #01579B;
  color: #fcfcfc;
  margin-top: 30px;
  padding: 50px 0;
  font-family: 'Fredoka One', cursive;
}
@media screen and (min-width:480px) and (max-width:599px) { 

}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width:600px) and (max-width:959px) {
  #lap{
    display: block;
    position: relative;
  }
  #head {
    width: 240px;
    float: left;
  }
  #gnav ul li{
    display: block;
    width: 100%;
    text-align: left;
  }
  #gnav ul li a{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color:#333;
    text-decoration: none;
    padding: 10px 10px;
    max-height: 42px;
  }
  #gnav ul li a::before{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("https://serenelinux.com/img/icon/32.png");
    opacity: 0;
    transition: ease .3s;
  }
  #gnav ul li a:hover::before{
    opacity: 1;
  }
  #gnav ul li a span{
    width: 84%;
    height: 18px;
    line-height: 20px;
    padding-left: 10px;
  }
  #gnav ul li a .ja{
    font-size: 16px;
  }
  #banner{
    width: 240px;
    top: 410px;
    float: left;
    position: absolute;
  }
  #visual, #news, #tw{ 
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    margin: 0;
    float: right;
  }
  #tw{
    margin-bottom: 30px;
  }
  #foot{
    clear: both;
  }
}
/* 960px〜1279px：小型PC
------------------------------ */
@media screen and (min-width:960px) and (max-width:1279px) {

  #lap{
    display: block;
    position: relative;
  }
  #head {
    width: 280px;
    float: left;
  }
  #gnav ul li{
    display: block;
    width: 100%;
    text-align: left;
  }
  #gnav ul li a{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color:#333;
    text-decoration: none;
    padding: 10px 10px;
    max-height: 42px;
  }
  #gnav ul li a::before{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("https://serenelinux.com/img/icon/32.png");
    opacity: 0;
    transition: ease .3s;
  }
  #gnav ul li a:hover::before{
    opacity: 1;
  }
  #gnav ul li a span{
    width: 84%;
    height: 18px;
    line-height: 20px;
    padding-left: 10px;
  }
  #gnav ul li a .ja{
    font-size: 16px;
  }
  #banner{
    width: 280px;
    top: 430px;
    float: left;
    position: absolute;
  }
  #visual, #news, #tw{ 
    width: -webkit-calc(100% - 280px);
    width: calc(100% - 280px);
    margin: 0;
    float: right;
  }
  #tw,#news{
    width: -webkit-calc(100% - 280px);
    width: calc(100% - 280px);
  }
  #tw{
    margin-bottom: 30px;
  }
  #foot{
    clear: both;
  }
}

/* 1280px〜：大型PC
------------------------------ */
@media screen and (min-width:1280px) {
 
  #lap{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1480px;
  }
  #head {
    width: 280px;
    float: left;
  }
  #gnav{
    height: 100vh;
  }
  #gnav ul li{
    display: block;
    width: 100%;
    text-align: left;
  }
  #gnav ul li a{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color:#333;
    text-decoration: none;
    padding: 10px 10px;
    max-height: 42px;
  }
  #gnav ul li a::before{
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("https://serenelinux.com/img/icon/32.png");
    opacity: 0;
    transition: ease .3s;
  }
  #gnav ul li a:hover::before{
    opacity: 1;
  }
  #gnav ul li a span{
    width: 84%;
    height: 18px;
    line-height: 20px;
    padding-left: 10px;
  }
  #gnav ul li a .ja{
    font-size: 16px;
  }
  #banner{
    position: absolute;
    width: 300px;
    right: 10px;
    top:10px;
  }#banner img{
    width: 100%;
    margin: 0 0 2.5%;
  }
  #visual, #news,#tw{ 
    width: -webkit-calc(100% - 600px);
    width: calc(100% - 600px);
    float: left;
  }#tw{
    margin: 0 0 50px;
  }
  #foot{
    clear: both;
  }
}